/**
 * Site Footer
 * ----------------------------------------------------------------------------
 */
.site-footer {
  align-items: center;
  border-top: 1px solid _palette(border);
  display: flex;
  padding-top: _space(5);

  .site-info {
    color: _palette(meta);
    font-size: 0.75rem;
    line-height: 1.6;
    margin: 0;
  }

  .site-info a {
    color: _palette(primary);
  }

  .to-top {
    align-items: center;
    border: 1px solid _palette(border);
    border-radius: 50%;
    color: _palette(primary);
    display: none;
    flex: 0 0 auto;
    height: 40px;
    justify-content: center;
    margin-left: auto;
    text-decoration: none;
    width: 40px;
  }

  @media only screen and (max-width: 800px) {
    .site-info { margin-right: _space(3); }
    .to-top { display: flex; }
  }
}
